include scAMACE_py/data/Feb7_2021_3Types_Data_rna_mean_1000_ratio_mcmc_ini_pi_met.csv
include scAMACE_py/data/Feb7_2021_3Types_Data_rna_mean_1000_ratio_mcmc_ini_pi_rna.csv
include scAMACE_py/data/Feb7_2021_3Types_Data_rna_mean_1000_ratio_mcmc_ini_qi.csv
include scAMACE_py/data/Feb7_2021_3Types_Data_rna_mean_1000_ratio_mcmc_ini_w_acc.csv
include scAMACE_py/data/Feb7_2021_3Types_Data_rna_mean_1000_ratio_mcmc_ini_w_exp.csv
include scAMACE_py/data/Feb7_2021_3Types_Data_rna_mean_1000_ratio_mcmc_ini_w_met.csv
include scAMACE_py/data/Feb7_2021_3Types_Data_rna_mean_1000_ratio_atac_cell_lb.csv
include scAMACE_py/data/Feb7_2021_3Types_Data_rna_mean_1000_ratio_f0.csv
include scAMACE_py/data/Feb7_2021_3Types_Data_rna_mean_1000_ratio_f1.csv
include scAMACE_py/data/Feb7_2021_3Types_Data_rna_mean_1000_ratio_g0.csv
include scAMACE_py/data/Feb7_2021_3Types_Data_rna_mean_1000_ratio_g1.csv
include scAMACE_py/data/Feb7_2021_3Types_Data_rna_mean_1000_ratio_met_cell_lb.csv
include scAMACE_py/data/Feb7_2021_3Types_Data_rna_mean_1000_ratio_met_data.csv
include scAMACE_py/data/Feb7_2021_3Types_Data_rna_mean_1000_ratio_rna_cell_lb.csv
include scAMACE_py/generate_sim_data.py
include scAMACE_py/model_based_sep_torch_cpu.py
include scAMACE_py/model_based_sep_torch_gpu.py
include scAMACE_py/model_based_torch_cpu.py
include scAMACE_py/model_based_torch_gpu.py

